.keywords-trends-card{
  
  margin-bottom: 20px;
  width: 610px;
  height: 390px;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 16px;
  overflow: hidden;
 
}

.keycard-header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(234, 215, 190);
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

.close-button {
  background-color: transparent;
  border: none;
  position:left;
  color: #ff0000;
  font-size: 20px;
  cursor: pointer;
}

.close-button:hover {
  color: #cc0000;
}

.card-body {
  padding: 10px;
  max-height: 300px;
  align-items: center;
  border-top: 1px solid #ddd;
  margin-top: 10px;
}
