/* Container */
.competitor-container {
  width:100%;
  height: 99%;
  border-radius: 10px;
  /* background: linear-gradient(135deg, #e3f2fd, #f0f4c3); */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: #c8e6c9;
  border-radius: 8px;
}

.header-title {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.icon {
  margin-right: 8px;
  font-size: 18px;
}

.icon-btn {
  cursor: pointer;
  font-size: 18px;
}

/* Chart Container */
.chart-container {
  margin-top: 20px;
  width: 100%;
  height: 350px;
}

/* Bar Colors */
.recharts-bar-rectangle {
  border-radius: 5px;
}
