.container {
  width: 94%;
  height: 94%;
  border-radius: 10px;
  /* background: linear-gradient(135deg, #e3f2fd, #ede7f6); */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: #f8bbd0;
  border-radius: 8px;
}

.headerTitle {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.icon {
  margin-right: 8px;
  font-size: 18px;
}

.iconBtn {
  cursor: pointer;
  font-size: 18px;
}

.chartContainer {
  display: flex;
  width: 100%;
  height: 200px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.legend {
  margin-top: 12px;
  padding-left: 12px;
}

.legendItem {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.legendColor {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px;
}
