.content-scheduler-card {
  width: 405px;
  height: 390px;
  border-radius: 8px;
  padding: 20px;
  overflow: hidden;
 
}

.content-scheduler-card .card-header {
  display: flex;
  justify-content: space-between;
  background-color:rgb(240, 182, 182);
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 5px;
  width: 100%; 
}

.content-scheduler-card .card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.doughnut-chart {
  width: 50%; /* Adjust width as necessary */
  height: 100px; /* Adjust the height of the doughnut chart */
}

.content-info {
  width: 45%; /* Adjust width as necessary */
  padding-left: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #2d2d2d;
  text-align: left;
}
