.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.dash-header{
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
  height: 100px;
  padding: auto;
  
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.row > .dashboard-card {
  flex: 1;
  min-width: 250px;
}
