.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.row > .dashboard-card {
  flex: 1;
  min-width: 250px;
}
