.container {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f6fa;
}

.navHeader {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-layout {
  display: flex;
  padding-top: 60px; /* Adjust for fixed navbar height */
  position: relative;
}

.sidebarele {
  height: calc(100vh - 60px); /* Adjust for fixed navbar height */
  position: fixed;
  left: 0;
  width: 250px;
  transform: translateX(0); /* Default to visible */
  transition: transform 0.3s ease;
  background-color: #ffffff;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
}

.sidebarele.open {
  transform: translateX(0); /* Sidebar visible when open */
}

.sidebarele.closed {
  transform: translateX(-100%); /* Sidebar hidden */
}

.dashboardgrid {
  flex:  auto;
  margin-left: 80px; /* Default margin when sidebar is closed */
  padding: 2px;
  transition: margin-left 0.3s ease;
}

.dashboardgrid.sidebar-open {
  margin-left: 250px; /* Adjust when sidebar is open */
}

@media (max-width: 768px) {
  .sidebarele {
    transform: translateX(-100%); /* Hidden by default on smaller screens */
  }

  .sidebarele.open {
    transform: translateX(0); /* Visible when open */
  }

  .dashboardgrid {
    margin-left: 2px;
    width: 100%; /* Use full width */
  }

  .dashboardgrid.sidebar-open {
    margin-left: 0px; /* No margin for smaller screens */
  }
}
