/* Global Reset */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100%;
}

/* Theme Variables */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Theme Classes */
body.light-theme {
  --background-color: #f0f8ff;
  --text-color: #000000;
  --navbar-color: #ffffff;
  --sidebar-color: #f8f9fa;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --gradient-start: #ffffff;
  --gradient-end: #e6e6fa;
}

body.blue {
  --text-color: #f8f8f2;
  --navbar-color: #2c2c3b;
  --sidebar-color: #24242e;
  --box-shadow-color: rgba(0, 0, 0, 0.5);
  --gradient-start: #2e2e38;
  --gradient-end: #1e1e2f;
  background-color: #240046;
  --background-color: radial-gradient(circle at 30% 30%, #8a00ff, transparent 60%),
    radial-gradient(circle at 70% 70%, #ff007a, transparent 50%),
    radial-gradient(circle at 50% 50%, #4b00ff, transparent 70%);
}

body.light {
  --background-color: linear-gradient(to bottom right, #d0e6f9, #e6e6fa);
  --text-color: #000000;
  --navbar-color: #b5ffe1;
  --sidebar-color: #b5f0ff;
  --box-shadow-color: rgba(93, 64, 55, 0.5);
  --gradient-start: #adc1ff;
  --gradient-end: #f4d5ff;
}

/* Layout Components */
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom right, var(--gradient-start), var(--gradient-end));
  color: var(--text-color);
}

.navHeader {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: linear-gradient(to right, #F5F3FC, #FDFBED);
  box-shadow: 0 2px 4px var(--box-shadow-color);
}

.sidebarele {
  height: calc(100vh - 60px);
  display: sticky !important;
  position: fixed;
  left: 0;
  padding-top: 200px;
  width: 30%;
  height: 100%;
  transform: translateX(0);
  transition: transform 0.3s ease;
  overflow: hidden;
}

.main-layout {
  display: flex;
  padding-top: 60px;
  position: relative;
  width: 100vw;
}

/* Sidebar States */
.sidebarele.open {
  transform: translateX(0);
}

.sidebarele.closed {
  transform: translateX(-100%);
}

/* Dashboard Layout */
.dashboardgrid {
  flex: auto;
  padding: 2px;
  transition: margin-left 0.3s ease;
  width: 70%;
}

.dashboardgrid.sidebar-open {
  margin-left: 250px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .sidebarele {
    transform: translateX(-100%);
  }

  .sidebarele.open {
    transform: translateX(0);
  }

  .dashboardgrid {
    margin-left: 2px;
    width: 100%;
  }

  .dashboardgrid.sidebar-open {
    margin-left: 0px;
  }
}

/* Login Styles */
.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #e0f2f7, #e0f7fa);
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

/* Engagement Card */
.EngagementFeed_card {
  width: 100%;
}
