.sidebar {
  background-color: rgba(221, 230, 237, 0.15);
  border-right: 1px solid rgba(255, 255, 255, 0.6);
  display: flex;
  max-width: 228px;
  flex-direction: column;
  overflow: hidden;
  color: rgba(66, 74, 80, 1);
  padding: 18px;
  font: 400 14px Poppins, sans-serif;
}

.menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px;
}

.sidebarItem {
  border-radius: 8px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
}

.active {
  background: var(--Primary, #2915f9);
  color: rgba(241, 241, 241, 1);
}

.itemContent {
  display: flex;
  gap: 12px;
  align-items: center;
}

.itemIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
}

.itemLabel {
  flex-grow: 1;
  white-space: nowrap;
}

.arrowIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 20px;
}