/* Sidebar.module.css */

/* Sidebar container styles */
.sidebarContainer {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #0a0202;/*text color*/
  /* Set a large height to ensure scrollable content */
   /* Set the width of the sidebar */
  
  padding: 2px 5px 5px;
  border-radius: 20px;
  /* Enable vertical scrolling if content overflows */
}

/* Dashboard item styles */
.dashboardItem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 50px 10px 10px;
  

  border-radius: 8px;
  white-space: nowrap;
  font-weight: bold;
  
  width: 100%;
}

/* Navigation item styles */
.navItem {
  align-items: center;
  padding: 2px;
  margin-top: 8px;
  border-radius: 8px;
  
  cursor: pointer;
  ;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 170px; /* Limiting width for uniformity */
}

.navItem:hover {
  background-color: lightblue; /* Hover effect */
}

/* Navigation item content */
.navItemContent {
  display: flex;
  
  gap: 10px;
  align-items: center;
  width: 100%;
}

.navItem::-webkit-scrollbar {
  display: none;
}

/* Icon styles */
.navItemIcon {
  width: 25px;
  color: #070708;
  height: 25px;
  object-fit: contain;
}

.navItemLabel {
  margin: auto 0;
  display: flex;
  white-space: nowrap;
}

/* Dropdown menu container */
.dropdownMenu {
  position: absolute; /* Position it relative to the parent element */
  top: 100%; /* Place it directly below the button */
  left: 0; /* Align it with the button */
  margin-top: 8px; /* Add some spacing from the button */
  
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  /* Ensure it's above other content */
  flex-direction: column;
  padding: 8px;
  width: 60%; /* Match the button width */
}

/* Individual dropdown item */
.dropdownItem {
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;

}

.dropdownItem:hover {
  background-color: rgba(34, 174, 221, 0.1); /* Hover effect */
}

/* Parent navItem to handle relative positioning */
.navItem {
  position: relative; /* Required for dropdown to position itself below */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .sidebarContainer {
    width: 200px; /* Adjust sidebar width for smaller screens */
    padding: 15px 15px 0;
    height: 100vh; /* Ensure sidebar fits within screen */
  }

  .navItem {
    max-width: 160px;
  }

  .navItemLabel {
    font-size: 12px; /* Adjust font size for smaller screens */
  }

  .dashboardItem {
    width: 100%; /* Ensure dashboard item spans full width */
  }
}

