/* Example of theme styles */
body.light-theme {
  --background-color: #68c52d;
  --text-color: #000;
}

.dark-theme {
  --background-color: #333;
  --text-color: #fff;
}

.blue-theme {
  --background-color: #0056b3;
  --text-color: #fff;
}


