.campaign-performance-card {
  padding: 10px;
  margin-bottom: 2px;
  width: 610px;
  height: 390px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
}

  .Campaign-header {
    display: flex;
    border: 2ppx solid #d03a3a;
    justify-content: space-between;
    background-color: rgb(167, 234, 209);
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 5px;
    height: 40px;
    width: 100%; border-radius: 5px;
}

.campaign-performance-card .campcard-body {
  padding-top: 10px;
}

.campaign-performance-card .bar-chart {
  width: 100%;
  height: 350px; /* Adjust the height of the chart */
}
