.campaign-performance-card {
  
  border-radius: 12px;
  padding: 2px;
  margin: 2px;
  width: 98%;
  height: 80%;
}


.Campaign-header {
  display: flex;
  background: #bbe0e1;
  justify-content: space-between;
  align-items: flex-end;  
  border-radius: 5px;
  margin-bottom: 2px;
}

.Campaign-header span {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.close-button button {
  background: none;
  border: none;
  font-size: 20px;
  color: #666;
  cursor: pointer;
  padding: 5px;
}

.campcard-body {
  padding: 30px;
  position: relative;
}

.bar-chart {
  height: 300px;
  margin-bottom: 2px;
  align-items: end;
}

.label-ad-clicks {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}
