/* General styles */
/* .body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
} */

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-full {
  border-radius: 9999px;
}

.border {
  border-width: 1px;
  border-style: solid;
}

.shadow-lg {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.bg-green-100 {
  background-color: #d4edda;
}

.bg-blue-600 {
  background-color: #1d4ed8;
}

.bg-blue-700 {
  background-color: #1e3a8a;
}

.bg-blue-100 {
  background-color: #bfdbfe;
}

.bg-orange-100 {
  background-color: #ffe5b4;
}

.bg-gray-200 {
  background-color: #e5e7eb;
}

.bg-purple-600 {
  background-color: #7c3aed;
}

.text-purple-600 {
  color: #7c3aed;
}

.text-gray-500 {
  color: #6b7280;
}

.text-gray-600 {
  color: #4b5563;
}

.text-blue-700 {
  color: #1e40af;
}

.text-blue-500 {
  color: #3b82f6;
}

.text-green-600 {
  color: #166534;
}

.text-orange-600 {
  color: #c2410c;
}

.text-white {
  color: #ffffff;
}

.font-bold {
  font-weight: 700;
}

.font-semibold {
  font-weight: 600;
}

.text-lg {
  font-size: 1.125rem;
}

.text-5xl {
  font-size: 3rem;
}

.text-sm {
  font-size: 0.875rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-28 {
  margin-top: 7rem;
}

.p-4 {
  padding: 1rem;
}

.p-6 {
  padding: 1.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.w-full {
  width: 100%;
}

.max-w-screen-lg {
  max-width: 1024px;
}

.max-w-sm {
  max-width: 640px;
}

.max-w-4xl {
  max-width: 1120px;
}

.border-t {
  border-top-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-blue-300 {
  border-color: #93c5fd;
}

.border-gray-300 {
  border-color: #d1d5db;
}

.border-gray-600 {
  border-color: #4b5563;
}

.focus\:outline-none {
  outline: 0;
}

.focus\:ring-2 {
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}

.focus\:ring-blue-300 {
  box-shadow: 0 0 0 2px rgba(147, 197, 253, 0.5);
}

.hover\:text-gray-800:hover {
  color: #1f2937;
}

.hover\:bg-blue-700:hover {
  background-color: #1d4ed8;
}

.hover\:bg-blue-200:hover {
  background-color: #bfdbfe;
}
