/* Sidebar.module.css */

/* Sidebar container */
.sidebarContainer {
 display: sticky;
 padding-top: 200px;
  flex-direction: column;
 margin-top: 8px;
  width: 250px;
  padding: 5px;
  overflow: hidden;
  /* background: linear-gradient(145deg, #d8dadac9, #8daccc);  */
  color: #fff;
  background: #dcdcde; /* Sidebar background */

}

/* Navigation item */
.navItem {
  width: 250px;
  margin-bottom: 15px;
  cursor: pointer;
}

.navItemContent {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1); /* Subtle background */
  transition: all 0.3s ease;
}

.navItemContent:hover {
  background: rgba(50, 69, 214, 0.8);
  transform: translateX(5px); /* Horizontal slide effect */
  color: #fff;
  width: 200px;
  overflow: hidden;
}

.navItemIcon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.navItemLabel {
  flex-grow: 1;
}

/* Dropdown menu */
.dropdownMenu {
  position: absolute;
  top: 100%; /* Directly below parent */
  left: 0;
  margin-top: 5px;
  padding: 10px;
  background: rgba(34, 34, 51, 0.95); /* Dropdown background */
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.dropdownItem {
  padding: 8px;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.dropdownItem:hover {
  background: rgba(34, 174, 221, 0.8);
}

/* Responsive design */
@media (max-width: 768px) {
  .sidebarContainer {
    width: 200px;
    padding: 15px;
  }

  .navItemContent {
    padding: 10px;
  }
}
